body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/inicio/fondo.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}